appdirs==1.4.4
arabic-reshaper==3.0.0
asgiref==3.7.2
asn1crypto==1.5.1
astroid==3.0.1
attrs==23.1.0
autopep8==2.0.4
Babel==2.13.0
black==23.9.1
blessed==1.20.0
Brotli==1.1.0
cairocffi==1.6.1
CairoSVG==2.7.1
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
click==8.1.7
coverage==7.3.2
crispy-bootstrap4==2023.1
cryptography==41.0.4
cssselect2==0.7.0
curtsies==0.4.2
cwcwidth==0.1.9
defusedxml==0.7.1
dill==0.3.7
Django==4.2.6
django-allauth==0.57.0
django-crispy-forms==2.1
django-extensions==3.2.3
django-phonenumber-field==7.2.0
django-weasyprint==2.2.1
exceptiongroup==1.1.3
flake8==6.1.0
fonttools==4.43.1
freezegun==1.2.2
greenlet==3.0.0
gunicorn==21.2.0
h11==0.14.0
html5lib==1.1
idna==3.4
isort==5.12.0
jedi==0.19.1
lazy-object-proxy==1.9.0
lxml==4.9.3
mccabe==0.7.0
mypy-extensions==1.0.0
oauthlib==3.2.2
oscrypto==1.3.0
outcome==1.2.0
packaging==23.2
parso==0.8.3
pathspec==0.11.2
pep8==1.7.1
phonenumbers==8.13.23
Pillow==10.1.0
platformdirs==3.11.0
psycopg2==2.9.9
pycodestyle==2.11.1
pycparser==2.21
pydyf==0.8.0
pyflakes==3.1.0
Pygments==2.16.1
pyHanko==0.20.1
pyhanko-certvalidator==0.24.1
PyJWT==2.8.0
pylint==3.0.1
pypdf==3.16.4
PyPDF2==3.0.1
pyphen==0.14.0
pypng==0.20220715.0
PySocks==1.7.1
python-bidi==0.4.2
python-dateutil==2.8.2
python-decouple==3.8
python3-openid==3.2.0
pytz==2023.3.post1
PyYAML==6.0.1
qrcode==7.4.2
reportlab==4.0.6
requests==2.31.0
requests-oauthlib==1.3.1
selenium==4.14.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
sqlparse==0.4.4
svglib==1.5.1
tinycss2==1.2.1
tomli==2.0.1
tomlkit==0.12.1
trio==0.22.2
trio-websocket==0.11.1
typed-ast==1.5.5
typing_extensions==4.8.0
tzlocal==5.1
uritools==4.0.2
urllib3==2.0.6
wcwidth==0.2.8
weasyprint==60.1
webencodings==0.5.1
wrapt==1.15.0
wsproto==1.2.0
zopfli==0.2.3
