.table-row-clickable:hover {
    cursor: pointer;
}

#new-invoice {
    margin-top: 5%;
}

.invoice-date-num{
    margin:0 0 2% 0;
    padding:0;
}

.popout-card{
    transition: 0.2s;
    cursor: pointer;
}

.popout-card:hover{
    transform: scale(1.025, 1.025);
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow:  -1px 9px 40px -12px rgba(0,0,0,0.75);
     box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);

}

/*Disable link styling in invoice card*/
.invoice-card a{
    text-decoration: none;
    color:inherit;
}

.invoice-card a:focus{
    outline:none;
}

.invoice-detail-header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 1% 0;

}


/* Invoice Detail View Styles */

.table {
    display: table;
    margin-top: 4em;
    margin-bottom: 0;
}
.table-row {
    display: table-row;
}
.table-cell {
    display: table-cell;
    /* padding: 10px; */
    border: 1px solid black;
}
.table-row:nth-child(even){
    background: lightblue;
}

.invoice-menu {
    list-style: none;
}

.invoice-menu li {
    margin-bottom:0.8rem;
}


/* Client Detail View Styles */
.client-invoices-table{
    margin-top:0;
}

.client-detail-card{
    margin-bottom:1.5rem;
}
