{% extends 'base.html' %}

{% block title %}Invoices Landing Page{% endblock %}


{% block content %}
    <h3>Invoicing App Landing Page.</h3>
    {% if user.is_authenticated %}
        <p>Welcome {{ user.username }}</p>

            <a href="{% url "new-invoice" %}" class="btn btn-success">New Invoice</a>
    


            <div class="invoices-container">
                {% if object_list %}
                    <h4 class="mt-5 mb-4">Recent Invoice{{ invoices|pluralize }}</h4>
                    <div class="row mb-2">
                        {% for invoice in recent_invoices %}
                        
                            <div class="col-sm invoice-card text-center">
                                <a href="{% url 'invoice-detail' invoice.pk %}">
                                    <div class="card popout-card">
                                        <h5 class="card-header">{{ invoice.client }}</h5>
                                        <div class="card-body">

                                            <h5 class="card-title text-muted mb-2">Total</h5>

                                            <p class="card-text">USD {{ invoice.invoice_total }}</p>
                                            <p class="text-muted small invoice-date-num" >Invoice #{{ invoice.pk }}</p>
                                            <p class="text-muted small invoice-date-num" >{{ invoice.create_date }}</p>
                                            <a href="{% url 'invoice-detail' invoice.pk %}" class="btn btn-info">View Invoice</a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        


                    {% endfor %}
            </div>

                <h4>All Invoices</h4>
                <div class="invoices-list">
                    <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Invoice</th>
                                        <th scope="col">Client</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Date</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for invoice in invoices %}

                                            <tr class="table-row table-row-clickable" data-href="{% url 'invoice-detail' invoice.pk %}">
                                                <th scope="row"><a href="{% url 'invoice-detail' invoice.pk %}" class="stretched-link">#{{ invoice.id }}</a></th>
                                                <td>{{ invoice.client }}</td>
                                                <td>{{ invoice.invoice_total }}</td>
                                                <td> {{ invoice.create_date }} </td>
                                            </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                </div>
            {% else %}
                <p>You have not created any invoices</p>
            {% endif %}
        </div>

    <!--Pagination-->
        {% block pagination %}
        {% if page_obj %}

        <div class="pagination btn-group paginator" role="group" aria-label="Item pagination">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">&laquo;</a>
            {% endif %}

            {% for page_number in page_obj.paginator.page_range %}
                {% if page_obj.number == page_number %}
                    <button class="btn btn-outline-primary active">
                        <span>{{ page_number }}<span class="sr-only">(current)</span></span>
                    </button>
                {% else %}
                    <a href="?page={{ page_number }}" class="btn btn-outline-primary">{{ page_number }}</a>
                {% endif %}


            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">&raquo;</a>
            {% endif %}
        </div>

        {% else %}
            <p>No items found</p>
        {% endif %}

        {% endblock pagination %}
    <!--Pagination-->

  {% else %}
        <p>Welcome, please <a href="{% url 'login' %}">login</a> or <a href="{% url 'signup' %}">signup</a></p>
    {% endif %}
        

{% endblock content %}
