---

- name: Setup Server
  hosts: cybertron
  become: true
  vars:
    ansible_user: "{{create_user}}"
    sys_packages: ["curl", "git", "ca-certificates", "apt-transport-https", "software-properties-common", "gnupg", "ufw"]
    server_name: cybertron
    copy_local_ssh_key: "{{ lookup('ansible.builtin.file', lookup('ansible.builtin.env', 'HOME') + '/.ssh/id_ed25519.pub') }}"
  roles:
    - role: security
    - role: docker